.gradient-custom {
    /* fallback for old browsers */
    background: #cb3011;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(203, 17, 17), rgba(252, 180, 37));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(203, 17, 17), rgb(252, 180, 37))
    }

input,
input::placeholder {
    font: 15.5px/3 sans-serif;
}