<html>
  <link rel="shortcut icon" type="image/x-icon" href={{ url_for("static", filename="favicon.ico") }}>
  <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/footer.css') }}">
  <nav style="font-family: Righteous">
    <div class="logo">
      <img src="../static/favicon.ico" alt="Logo" href="">
    </div>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </nav>
  <body style="height: 100%">
  {% block content %}{% endblock %}
  </body>
</html>