{% extends "base.html" %}
{% block content %}
<div style="padding-top: 20px;">
    <div align="center" style="vertical-align: top;">
        <img src="../static/aniME!_large.png" alt="aniME!" style="padding-bottom: 20px; width: 500px; height: auto;">
        <br></br>
        <p style="font-family: 'Wild Words Roman'; font-size: 20px">Input your anime below.</p>
    </div>
    <div align="center" style="font-family: 'Wild Words Roman'; font-size: 20px;">
        {% if show_results %}
            {% if results_found %}
                <span>Is this the right anime? -></span> <span style="color: blue">{{ title }}</span>
                <form method="POST">
                    <input type="hidden" name="title" value="{{ title }}">
                    <input type="submit" value="Select Result">
                </form>
            {% elif bad_request %}
                <p style="color: red">Error: Bad Request.</p>
            {% else %}
                <p style="color: red">No results were found for {{ title }}</p>
            {% endif %}
        {% endif %}
    </div>
    <form method="POST">
        <input type="text" name="text">
        <input type="submit" name="submit" value="Search">
    </form>
</div>

<footer style="font-family: Righteous">
    <div class="footer-links">
        <a href="//github.com/thedrdu/hackru-2023-project">GitHub</a>
    </div>
    <div class="footer-text">
        &copy; 2023 aniME! All rights reserved.
    </div>
</footer>
  
{% endblock content %}